<div id="createList__container--body" class="container">
    <div id="createList__container--card" class="card col-md-12">

        <h1 id="createList__title--mainTitle">Create a new List</h1>
        <form id="createList" action="/list/create" method="POST">

            <input id="createList__input" placeholder="Name your list" type="text" class="form-control" id="name"
                name="name">
            <button id="createList__button" type="submit" class="btn btn-dark block">Create list</button>

            {{#if errorMessage}}
            <div id="createList" id="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
            {{/if}}

        </form>
    </div>
</div>