<div class="container">
    <div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img id="home__img" src="../images/maingLogo.png" alt="Cinema Spot">
                <div id="home__container--search">
                    <h1 id="home__title--subtitle">Start searching your favorite locations</h1>
                    <form action="/movie/search" method="POST">
                        <div class="mb-3">
                            <input required placeholder="Write movie title" type="text" class="form-control" id="title"
                                name="title">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark block" id="home__button--search">Search</button>
                        </div>
                        {{#if errorMessage}}
                        <div id="errorMessage">
                            <p>{{errorMessage}}</p>
                        </div>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>