body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

img {
  width: 100%;
}

#listCard__body--movieList {
  height: 30vh;
  width: 18rem;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

#listCard__body--movieList:hover {
  box-shadow: 0px 0px 15px rgb(74, 74, 74);
}

#listCard__title {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 8%;
}

#movieDetail__container {
  max-width: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#movieDetail__downSectionContainer {
  background-color: rgb(149, 149, 149);
  width: 100%;
}

#map {
  height: 70vh;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 40px;
  background-color: rgb(233, 233, 233);
}