<div id="searchMovie__container--body" class="container">

    <div id="searchMovie__container--card" class="card col-md-12">

        <h1 id="searchMovie__title--mainTitle">Search a movie</h1>

        <form action="/movie/search" method="POST">

            <input id="searchMovie__input" placeholder="Movie name" type="text" class="form-control" id="title"
                name="title">
            <button id="searchMovie__button" type="submit" class="btn btn-dark block">Search</button>

            {{#if errorMessage}}

            <div id="errorMessage">
                <p>{{errorMessage}}</p>
            </div>

            {{/if}}

        </form>

    </div>

</div>